* {
  font-family: 'Archivo', sans-serif;
}

.fa-cloud {
  color: white;
}

.weather-icon {
  font-size: 10em;
  text-align: center;
}

.weather-icon:hover{
  font-size: 10em;
  text-align: center;
  color: grey;
}

.location-name, .temperature, .conditions {
  text-align: center;
}

.weather-box{
  border-style: solid;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  margin: 100px;
  border-radius: 10px;
  background-color: #42c8f4;
  height: 440px;
  width: 100%;
}

.conversion-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5px;
}
